


input{
    width: 50%;
    height: 50px;
    /* border: none; */
    border-radius: 15px;
    position: relative;
    top : 40px;
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    background-color: #1A1A1A;
    color: white;
    font-size: 1.5rem;
    
}


input:focus {
  outline: none;
}





.add_task_btn{
    width: 20%;
    height: 50px;
    /* border: none; */
    border-radius: 15px;
    position: relative;
    top : 50px;
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    background-color: #6E6E6E;
    color: white;
    font-size: 1.5rem;
    
}

